@import url(/css/common.css);

.popup.create .dialog {
  margin-top: -100px;
}

.popup.join .choices {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 10px 0 20px 0;
  text-align: center;
}

.popup.join .choices .choice {
  display: inline-block;
  z-index: 5;
  background-size: 100% 100%;
  margin: 0 20px 0 20px;
  width: 80px;
  height: 80px;
  opacity: 0.4;
  transition: opacity 1s;
}

.popup.join .choices .choice:hover {
  opacity: 1;
}

.popup.join .choices .choice.black {
  background-image: url(/img/bowl-black.png);
}

.popup.join .choices .choice.white {
  background-image: url(/img/bowl-white.png);
}


#goban {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -250px 0 0 -250px;
  background: url(/img/Melamine-wood-retro.png) repeat;
  border: 2px solid #292522;
  transition: transform 2s ease-in-out;
  -ms-transition: -ms-transform 2s ease-in-out;
  -webkit-transition: -webkit-transform 2s ease-in-out;
}

#goban.white {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

#goban .intersections {
  margin: 15px;
  width: 500px;
  height: 500px;
}

#goban .intersections .line {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

#goban .intersection {
  display: inline-block;
  background-image: url(/img/intersection-normal.png);
  background-size: 100% 100%;
  background-opacity: 0;
}

#goban.size-19 .intersection {
  width: 5.26%;
  height: 5.26%;
}

#goban.size-13 .intersection {
  width: 7.69%;
  height: 7.69%;
}

#goban.size-9 .intersection {
  width: 11.11%;
  height: 11.11%;
}


#goban .intersection .stone {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: 100% 100%;
}

#goban.unlocked .intersection .stone:hover {
  opacity: 0.5;
}

#goban .intersection .stone.put, #goban .intersection .stone.put:hover {
  opacity: 1;
}

#goban.black .intersection .stone,
#goban.white .intersection .stone.opponent {
  background-image: url(/img/black-stone.png);
}

#goban.white .intersection .stone,
#goban.black .intersection .stone.opponent {
  background-image: url(/img/white-stone.png);
}

/* Goban Walls */

#goban .intersection.top {
  background-image: url(/img/intersection-top.png);
}

#goban .intersection.right {
  background-image: url(/img/intersection-right.png);
}

#goban .intersection.bottom {
  background-image: url(/img/intersection-bottom.png);
}

#goban .intersection.left {
  background-image: url(/img/intersection-left.png);
}

/* Goban Corners */

#goban .intersection.top.left {
  background-image: url(/img/intersection-top-left.png);
}

#goban .intersection.top.right {
  background-image: url(/img/intersection-top-right.png);
}

#goban .intersection.bottom.right {
  background-image: url(/img/intersection-bottom-right.png);
}

#goban .intersection.bottom.left {
  background-image: url(/img/intersection-bottom-left.png);
}

/* Goban Hoshi */

#goban .intersection.hoshi {
  background-image: url(/img/intersection-hoshi.png);
}
