html
  head
    title= "Meishengo"
    meta(content='go, go game, shuban, goban', name='keywords')
    meta(content='Meishengo is an HTML5 go game app', name='description')
    link(rel='icon', type='image/png', href='/img/logo.png') 
    script(src="/socket.io/socket.io.js")
    script(src="/components/zepto/zepto.min.js")
    script(src="/boot.game.js")
    link(rel="stylesheet" type="text/css" href="/less/game.css")
  body
    mei-layout-sandwich
      mei-header
      mei-content
        h1
          span="MEISHEN"
          span(class="go")="GO"
      mei-footer
    script.
        boot({game: !{game}});

