html
  head
    title= "Meishengo"
    meta(content='go, go game, shuban, goban', name='keywords')
    meta(content='Meishengo is an HTML5 go game app', name='description')
    link(rel='icon', type='image/png', href='/img/logo.png') 
    link(rel="stylesheet" type="text/css" href="/less/404.css")
  body
    div#content
      div#subtitle= "404"
      div#sentence= sentence
